.wrapper {
	height: 100vh;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}

.block {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.svg{
	position: relative;
	border: 1px solid #000;
}

.circle{
	transition: all 500ms ease;
}
